<!DOCTYPE html>
<html>
  <head>
    <title>Oui</title>
    <script src="/js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/js/dompurify.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/x-template" id="editor-template">
      <div id="main">
        <div id="html" v-html="compiledMarkdown"></div>
        <div id="textinput" v-if="user">
        <textarea id="textarea" :value="data.markdown" @input="update"></textarea>
            

        </div>
      </div>
    </script>
    <script type="text/x-template" id="login-template">
      <div id="login-form">
        <span type="button" id="log" @click="showhide" >.</span>
        <form
          v-if="show"
          @submit="submit"
          novalidate="true"
        >
        <div>
          <input type="text" name="username" v-model="user"/>
          <br/>
        </div>
        <div>
          <input type="password" name="password" v-model="password"/>
        </div>
        <input class="button"
          type="submit"
          value="Submit"
        >
        </form>
        
      </div>
  </script>
  </head>
  <body>
    <div id="app">

      <editor></editor>
      <logsession></logsession>
    </div>
    
    <script>
      var a = <%-JSON.stringify(a)%> ;

      
      console.log(a);
 
            
      var logsession = Vue.component('logsession', {
        data: function () {
            return {
              a:a.data,
              user:a.user,
              password:null,
              show:false

            }
        },
        template: "#login-template",
        
        methods: {
          showhide: function(e) {
            this.show = !this.show
          },

          submit: function(e) {
            fetch("/login", {
              method: 'post',
              headers: {
               'Accept': 'application/json, text/plain, */*',
               'Content-Type': 'application/json'
              },
              body: JSON.stringify({username:this.user, password:this.password})
              }).then(function(response) {
                return response.json();
              }).then((data) => {
                console.log(data);
                a.user = data.username;
              });
             e.preventDefault();
             this.showhide(e)

          }

        }
      })
      var vueEditor = Vue.component('editor',{
        props : {}, 
        data: function () {
            return a
        },
        template: "#editor-template",
        computed: {
          compiledMarkdown: function() {
            this.data.html = DOMPurify.sanitize(marked(this.data.markdown));
            return this.data.html;
          }
        },
        methods: {
          update: function(e) {
            //console.log(e);
            this.data.markdown = e.target.value;
            this.submit();
          },
          submit: function() {
            fetch('', {
              method: 'post',
              headers: {
               'Accept': 'application/json, text/plain, */*',
               'Content-Type': 'application/json'
              },
              body: JSON.stringify({html:this.data.html, markdown:this.data.markdown})
             });
          }
        }
      });
      var vueApp = new Vue({el: "#app"});
    </script>
  </body>
</html>