<!DOCTYPE html>
<html>
  <head>
    <title>Markdown Editor</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
<body>
  <% if (user) { %>
	<%= user.username %>
	<form method="POST" >
		<div>
			<textarea name="textarea"><%= data %></textarea>
		</div>
		<div>
		  <button>Save</button>
		</div>
	</form>
<% } else { %>
	<div>
		<textarea name="textarea" ><%= data %></textarea>
	</div>
<% } %>
</body>
