@font-face {
    font-family: 'label';
    src: url('https://arthur.cahut.net/css/fonts/Label/Impact-Label.ttf'); 
	
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'label-reverse';
    src: url('https://arthur.cahut.net/css/fonts/Label/Impact-Label-Reversed.ttf'); 
	
    font-weight: normal;
    font-style: normal;

}