@import 'LL.css';

html,
body{
  position : relative ;
  margin: 0;
  padding:0;
  font-family: 'Linux Libertine', Arial, sans-serif;
  font-size: 1.2em;
  color: #333;
  box-sizing: border-box;
  
}
div {
  border-style: solid;
  border-width: 0px;
  box-sizing: border-box;
}



#app{
  position: absolute;
  right: 0;
  left: 0;
  width: 96%;
  margin : 2% auto;
  
}

#main{
  position : relative;
  width : 100%;
  top:0%;
  left:0;
  right:0;
  margin: auto;

}

#textinput{
  position: fixed;
  height: 25%;
  min-width : 29%;
  top : 15%;
  left : 2%;
}

#textarea{
  box-sizing: border-box;
  display:block;
  position: relative;
  top : 0;
  right : 0;
  left : 0;
  width : 100%;
  height: 100%;
  
  resize: both;
  margin : auto;
}

#html{
  width : 33%;
  position: relative;
  top:0;
  left : 0;
  right : 0;
  padding: 0% 0%;
  margin: 0 auto;
}

a {

  text-decoration: none;
  background-color:#333;
  color: white;
  
}

a:hover {
  background-color:white;
  color:#333;
}

img{
  position: relative;
  display:block;
  width: 100%;
  right:0;
  left:0;
  margin: 2% auto;
}


.button{
display : block;
 position: absolute;
 right:0;

}

#log{
  border: none;
    margin: 0;
    padding: 0;
    width: auto;

    background: transparent;
}
#log:focus { outline: none; }

#login-form{
  position : fixed;
  right : 2%;
  bottom : 2em;
}






